:root {
  --navbar-gradient: linear-gradient(
    270deg,
    #dd5e8829 99%,
    #f7bb97 99%,
    #dd5e889a 99%
  );
  --main-color: linear-gradient(
    90deg,
    #dd5e8829 0%,
    #f7bb97 51%,
    #dd5e889a 100%
  );
  --secondary-color: rgb(255, 0, 221);
}

body {
  background-image: var(--main-color);
  margin: 50px auto;
}

.page-line {
  text-align: center;
}

.navigation-top {
  background-image: var(--navbar-gradient);
}

.citations {
  color: var(--secondary-color);
  vertical-align: super;
  font-size: 12px;
}

.croissant-image {
  max-width: 600px;
}

.page-header {
  margin-top: 100px;
}

hr {
  border: 1px solid;
  border-color: var(--secondary-color);
  max-width: 100px auto;
}

@media (max-width: 600px) {
  .smaller-device {
    text-align: center;
  }
}
