:root {
  --top-banner-color: rgb(115, 93, 112);
  --button: #29282db6;
  --background: #aea392;
  --banner-text: #f8e8c8;
  --after-banner-color: rgba(115, 93, 112, 0.475);
  --font-headers-footers: "Josefin Sans", sans-serif;
  --font-results-main: "Lora", serif;
  --font-results-secondary: "Merriweather", serif;
  --link-hover: rgb(77, 51, 74);
}

body {
  background-color: var(--background);
}

.index.container {
  max-width: 800px;
  margin: 0 auto;
}

header,
.search-form {
  font-family: var(--font-headers-footers);
  color: var(--banner-text);
  background-color: var(--top-banner-color);
}

footer {
  font-family: var(--font-headers-footers);
}

footer a.footer-SO-link,
.results-photos-author a {
  color: var(--top-banner-color);
}

footer a.footlink:hover,
footer a.footer-SO-link:hover,
.results-phonetics a:hover,
.results-photos-author a:hover {
  color: var(--link-hover);
}

footer a.footlink {
  color: var(--button);
}

footer a img.pexels {
  width: 75px;
}

header {
  height: 200px;
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

.Header.p {
  font-size: 24px;
}

form {
  font-size: 18px;
  font-weight: 100;
}

button {
  background-color: var(--button);
  border: 2px solid;
  border-color: var(--button);
  border-radius: 3px;
  color: var(--banner-text);
  padding: 3px 16px;
  transition: ease-in-out 0.2s;
}

button:hover {
  transition: ease-in-out 0.2s;
  background-color: var(--top-banner-color);
  border-color: var(--button);
}

.results {
  font-family: var(--font-results-main);
  background-color: var(--after-banner-color);
}

.results-definitions {
  font-size: 16px;
  font-weight: 200;
}

.results-examples {
  font-family: var(--font-results-secondary);
  font-size: 15px;
  font-style: italic;
  font-weight: 200;
  padding: 0px 0px 0px 30px;
}

.results-phonetics {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  padding: 10px 0px 0px 0px;
}

.results-phonetics a,
.results-phonetics-volume-subtitle {
  color: var(--button);
}

.results-phonetics a,
.results-photos-author a {
  text-decoration: none;
  font-weight: 900;
}

.results-phonetics-volume {
  padding: 0px 5px 0px 5px;
}

.results-phonetics-volume-subtitle {
  font-size: 16px;
}

.results-photos-author {
  font-size: 12px;
}

.results-photos-preview {
  opacity: 87.5%;
  transition: ease-in-out 0.2s;
}

.results-photos-preview:hover {
  opacity: 100%;
  transition: ease-in-out 0.2s;
}

.results-search-word {
  font-size: 30px;
  font-weight: 900;
  padding: 20px 0px 0px 0px;
}

.results-sub-headings {
  font-weight: 900;
  padding: 20px 0px 0px 0px;
}

.results-sub-headings {
  font-size: 20px;
}

.results-synonyms-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-results-secondary);
  font-size: 16px;
  list-style: none;
}

.results-synonym-each {
  padding: 0px 16px 0px 4px;
}

.loading {
  font-family: var(--font-headers-footers);
  font-size: 50px;
  color: var(--top-banner-color);
  margin: 30px auto;
}

@media (max-width= 569px) {
  h1 {
    font-size: 40px;
  }

  .results-photos-preview {
    opacity: 100%;
  }

  .results-photos-preview:hover {
    opacity: 100%;
  }
}

@media (max-width= 300px) {
  h1 {
    font-size: 36px;
  }
}
