:root {
  --background-color-dy: rgba(40, 50, 70, 0.471);
  --background-color-nt: rgba(42 51 66);
  --font-main-heads: "Lato", sans-serif;
  --font-body: "Nunito Sans", sans-serif;
  --font-color-dy: rgb(40, 50, 70);
  --font-color-nt: rgb(204 208 217);
  --font-color-hov-dy: rgb(207, 209, 215);
  --button-bck-nt: rgba(0, 21, 59, 0.24);
  --card-bck-dy: rgb(210, 210, 210, 0.6);
  --card-bck-nt: rgb(60, 69, 84, 0.3);
  --card-bdr-dy: rgb(40, 50, 70, 0.1);
  --card-bdr-nt: rgb(98, 103, 113, 0.4);
  --card-hov-dy: rgba(55, 74, 109, 0.233);
  --card-hov-nt: rgba(55, 74, 109, 0.233);
  --card-hov-bdr-dy: rgb(98, 103, 113, 0.4);
  --card-hov-bdr-nt: rgb(55, 74, 109, 0.233);
  --dropdown-dy: rgb(210, 210, 210);
  --dropdown-nt: rgb(60, 69, 84);
  --dropdown-shdw-dy: 0px 16px 10px 0px rgba(55, 74, 109, 60%);
  --dropdown-shdw-nt: 0px 16px 10px 0px rgba(33, 43, 61);
  --footer-nt: rgb(122 163 255);
  --footer-dy: rgb(44, 72, 130);
}

body {
  color: var(--font-color-nt);
  background-color: var(--background-color-nt);
}

.container {
  max-width: 900px;
}

img#backgroundImage {
  width: 150px;
  margin-bottom: -175px;
  margin-top: -85px;
  opacity: 15%;
  margin-left: 250px;
}

h1#pageTitle {
  font-family: var(--font-main-heads);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  padding: 10px;
}

button#dayMode,
button#nightMode {
  display: inline-block;
  border: none;
  border-radius: 50%;
  margin-top: 15px;
  padding: 5px 8px;
}

button#dayMode {
  background-color: var(--card-hov-nt);
  color: var(--font-color-nt);
}

button#nightMode {
  background-color: var(--card-hov-nt);
  color: var(--button-bck-nt);
}

.material-icons {
  font-size: 16px;
}

#searchError {
  display: none;
}

#dropdownError {
  display: block;
  position: absolute;
  border-color: none;
  border-radius: 5px;
  background-color: var(--dropdown-nt);
  max-width: 220px;
  box-shadow: var(--dropdown-shdw-nt);
  padding: 12px 20px;
  z-index: 1;
  font-size: 12px;
  font-family: var(--font-main-heads);
  text-align: center;
  margin-left: -100px;
  margin-top: -15px;
}

footer,
form {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer {
  font-family: var(--font-main-heads);
  font-size: 12px;
  padding-top: 15px;
  text-decoration: none;
}

.footLink {
  text-decoration: none;
  color: var(--footer-nt);
}

.card-body {
  z-index: 1;
}

#cardLarge {
  background-color: var(--card-bck-nt);
  border-width: 2px;
  border-color: var(--card-bdr-nt);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  transition: all 0.2s ease-in-out;
}

#card2 {
  background-color: var(--card-bck-nt);
  border-width: 2px;
  border-color: var(--card-bdr-nt);
  font-family: var(--font-body);
  font-size: 10px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

#card2Body {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card3 {
  max-height: 87.5px;
}

.card3-small {
  max-height: 87.5px;
  background-color: var(--card-bck-nt);
  border-width: 2px;
  border-color: var(--card-bdr-nt);
  border-style: solid;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  height: auto;
  transition: all 0.2s ease-in-out;
}

#cardLarge:hover,
#card2:hover,
.card3-small:hover {
  background-color: var(--card-hov-nt);
  border-color: var(--card-hov-bdr-nt);
  color: var(--font-color-hov-nt);
  cursor: crosshair;
}

#c1City {
  font-family: var(--font-main-heads);
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 0px;
  margin-left: 5px;
  max-width: 316px;
  max-height: 100px;
}

#c1Country {
  font-family: var(--font-main-heads);
  font-weight: 600;
  font-size: 24px;
  vertical-align: super;
}

.c1-country-outer {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

#c1Day,
#c1Date,
#c1Time {
  font-family: "Padauk", sans-serif;
  line-height: 56px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

#c1Date,
#c1Time {
  padding-left: 8px;
}

#c1Day {
  padding-left: 7px;
  text-align: left;
}

#c1Date {
  text-align: center;
}

#c1Temp,
#c2Temp,
#c2Emoji,
#c2Title1,
#c2Title2 {
  font-family: "Padauk", sans-serif;
}

#c1Temp,
#c2Temp,
#c2Emoji {
  padding: 10px;
}

#c2Title1,
#c2Title2 {
  padding: 1px;
}

#c1Temp,
#c2Emoji,
#c2Title1,
#c2Title2 {
  margin: 0;
}

#c1Temp,
#c1Emoji,
#c2Temp,
#c2Emoji {
  text-align: center;
}

#c2Temp {
  margin-top: -10px;
  margin-bottom: 10px;
  line-height: 30px;
}

#c2Title1 {
  margin-right: -14px;
  text-align: right;
}

#c2Title2 {
  text-align: left;
}

#c1Temp,
#c1EmojiWind,
#c1EmojiWeather,
#c2Emoji,
.c2-temp {
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
}

#c1EmojiWeather,
#c2Emoji,
.c2-temp {
  font-size: 35px;
}

#c1EmojiWeatherSrc {
  width: 100px;
  margin-top: -20px;
  margin-bottom: -16px;
}

#c1Temp,
#c1EmojiWind {
  font-size: 42px;
}

#c1EmojiWind {
  margin-bottom: 6px;
}

.c1-date-row,
.c1-conditions-row,
.c1-high-lows-row,
.c1-sunrise-sunset-row {
  padding-top: 20px;
}

#c2EmojiWeather {
  vertical-align: middle;
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
}

#c2EmojiWeatherSrc {
  width: 80px;
  margin-top: -15px;
  margin-bottom: -20px;
}

#c2EmojiWind {
  position: relative;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

#c2EmojiCol {
  position: relative;
  margin-left: -10px;
}

#c2WindCol {
  margin-right: -15px;
}

#c1Feels,
#c1Descp,
#c1Wind,
#c2Wind,
#c2Descp {
  font-family: var(--font-body);
  font-style: italic;
  margin: 0;
  text-align: center;
}

#c1Feels,
#c1Descp,
#c1Wind {
  font-size: 12px;
}

#c1Descp:first-letter {
  text-transform: capitalize;
}

#c2Wind,
#c2Descp {
  font-size: 11.1px;
  margin-top: 6px;
}

#c2Title1,
#c2Title2 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
}

.c3-sun-col {
  margin-left: 0;
}

.c3-high-low-col {
  margin-left: 0;
}

.c3-wind-weather-col {
  margin-left: 0;
}

#inlineBtns {
  text-align: center;
}

#searchBtn,
#autoLocateBtn {
  display: inline-block;
  border: none;
  background-color: var(--button-bck-nt);
  color: var(--font-color-nt);
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 400;
  margin: 10px 2px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
}

.c3-date-title {
  display: block;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.c2-temp {
  margin-top: 15px;
}

.c1-highs-lows,
.c1-sunrise-sunset {
  font-family: var(--font-body);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.c1-highs-lows {
  padding-top: 20px;
}

.c2-list-col {
  margin-bottom: 0;
  line-height: 18px;
}

.c2-list {
  font-size: 13px;
  line-height: 16px;
  padding: 0 0 5px 0;
  margin: 0;
  text-align: left;
}

.c3-emoji-wind {
  display: block;
  position: relative;
  font-size: 28px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 2px;
}

.c3-descp {
  margin-left: -9px;
  font-size: 11px;
  text-align: left;
}

.c3-wind {
  margin-left: 0px;
  font-size: 11px;
  text-align: center;
}

.c3-list-high-sun-up,
.c3-list-temp-time {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  padding: 1px;
  margin-top: 13px;
  margin-left: -10px;
  margin-right: 0;
  margin-bottom: -10px;
}

.c3-list-high-sun-up {
  text-align: right;
}

.c3-list-temp-time {
  text-align: left;
}

.c3-emoji-weather {
  display: block;
  position: relative;
  margin-left: -24px;
  margin-top: 0;
  margin-bottom: -3px;
}

.c3-emoji-weather-src {
  width: 60px;
}

#card3-col-2 {
  width: 21.666667%;
}

#c3Temp {
  display: block;
  position: relative;
  font-size: 27px;
  font-weight: 400;
  padding: 0;
  margin-left: -26px;
  margin-top: 30px;
  line-height: 26px;
  align-items: center;
}

.search-location {
  margin: 0 0 15px 0;
}

@media (max-width: 885px) {
  img#backgroundImage {
    width: 175px;
    margin-bottom: -175px;
    margin-top: -85px;
    opacity: 15%;
    margin-left: 215px;
  }

  body {
    font-size: x-small;
  }
}

@media (max-width: 768px) {
  img#backgroundImage {
    display: none;
  }
}
