:root {
  --background-dark: #29282d;
  --body-color: #d69db5;
  --body-font: "Source Code Pro", monospace;
  --headings-buttons-color: #b65d6d;
  --headings-font: "Raleway", sans-serif;
  --sidebar-color: #967080;
  --sidebar-headings: #241f36;
  --sidebar-headings-hover: #ffd0d8;
  --contact-links-hover: #ca8f99;
  --footer-color: #b65d6d57;
  --img-box-shdw: 0px 20px 30px 20px #b65d6d18;
  --img-box-shdw-sml: 0px 10px 15px 10px #b65d6d18;
}

body {
  background-color: var(--background-dark);
  margin: 50px 20px auto;
}

.main-body {
  max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu-large-device,
.menu-small-device,
.menu-narrow-device {
  color: var(--headings-buttons-color);
  font-family: var(--headings-font);
}

h1,
.menu-large-device,
.menu-small-device,
.menu-narrow-device {
  font-size: 50px;
  line-height: 1.5;
}

h2 {
  font-size: 38px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
  line-height: 1.2;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

a,
h4 a {
  color: var(--headings-buttons-color);
  text-decoration: none;
}

a:hover,
h4 a:hover {
  color: var(--sidebar-headings-hover);
  text-decoration: none;
}

hr {
  border: 1px solid;
  border-color: var(--footer-color);
}

footer {
  width: 100%;
  padding: 10px 20px 10px 20px;
}

p,
.placeholder-text {
  color: var(--body-color);
  font-family: var(--body-font);
  font-size: 14px;
}

.image-descriptors-reverse {
  text-align: end;
}

.project-previews {
  max-width: 800px;
}

img {
  border-radius: 10px;
}

.image-background-main {
  border-radius: 10px;
  opacity: 80%;
  box-shadow: var(--img-box-shdw);
  margin-bottom: 50px;
  padding: 0;
}

.image-background-small {
  box-shadow: var(--img-box-shdw-sml);
  margin-bottom: 20px;
  padding: 0;
}

.try-app-btn {
  background-color: var(--headings-buttons-color);
  color: var(--background-dark);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--headings-buttons-color);
  padding: 10px 5px 10px 5px;
  margin-top: 15px;
}

.try-app-btn:hover {
  background-color: var(--background-dark);
  color: var(--headings-buttons-color);
  text-decoration: none;
}

.btns-outer-margin {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tech-stack {
  text-align: start;
}

/* -------------------------- Navigation bar  --------------------------  */

.menu-large-device {
  padding-left: 20px;
}

.menu-small-device,
.menu-narrow-device {
  display: none;
}

.close-btn-small {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  transition: 0.4s ease-in-out;
}

.sidenav a {
  padding: 8px 8px 32px 8px;
  text-decoration: none;
  font-family: var(--headings-font);
  font-size: 25px;
  color: var(--sidebar-headings);
  display: block;
  transition: 0.4s ease-in-out;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.active-page-nav {
  font-weight: 600;
}

.sidenav .close-btn-large {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 0;
}

/* Pushing the page content to the right when opening side navigation */
#main {
  margin-left: 0px;
  transition: 0.4s ease-in-out;
  padding: 10px;
}

/* -------------------------- Smaller tablets to XL mobile phones --------------------------  */

@media (max-width: 800px) {
  body {
    background-color: var(--background-dark);
    margin: 35px 8px auto;
  }

  h1,
  .menu-small-device {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  .tech-stack {
    text-align: center;
  }

  /* -------------------------- Navigation bar to top bar --------------------------  */
  .menu-large-device,
  .menu-narrow-device {
    display: none;
  }

  .menu-small-device {
    display: inline;
    padding-left: 10px;
  }

  .close-btn-large {
    display: none;
  }

  .close-btn-small {
    display: flex;
  }

  .close-btn-small span {
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    line-height: -0.1;
  }

  .sidenav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.4s ease-in-out;
  }

  #main {
    margin-left: 0;
  }

  #main {
    padding: 20px;
  }

  .sidebar a {
    float: left;
  }

  .sidenav a {
    padding: 8px;
    font-size: 20px;
  }
}

/* -------------------------- Bootstrap SM Breakpoint --------------------------  */

@media (max-width: 576px) {
  .image-descriptors,
  .image-descriptors-reverse {
    text-align: center;
  }

  .btns-outer-margin {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .reverse-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* -------------------------- Narrow devices / large mobile phones --------------------------  */

@media (max-width: 450px) {
  body {
    background-color: var(--background-dark);
    margin: 35px 0px auto;
  }

  h1,
  .menu-small-device {
    font-size: 26px;
  }

  h2,
  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  p,
  .placeholder-text {
    font-size: 13px;
  }

  /* -------------------------- Navigation bar text size changes --------------------------  */

  .sidenav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    transition: 0.4s ease-in-out;
  }

  .sidenav a {
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
  }

  .close-btn-small {
    font-weight: 400;
    font-size: 26px;
  }
}

/* -------------------------- Narrow devices / medium mobile phones --------------------------  */

@media (max-width: 325px) {
  h1,
  .menu-narrow-device {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  /* -------------------------- Navigation bar text size changes --------------------------  */

  .menu-small-device {
    display: none;
  }

  .menu-narrow-device {
    display: flex;
    justify-content: center;
  }

  .sidenav a,
  .close-btn-small {
    font-size: 14px;
  }

  .close-btn-small {
    font-weight: 400;
  }

  .close-btn-small span {
    font-size: 20px;
  }
}

/* -------------------------- Galaxy Fold main screen and even narrower devices --------------------------  */

@media (max-width: 300px) {
  img,
  .project-previews {
    display: none;
  }
}
