body {
  color: rgb(40, 50, 70);
  background-color: rgba(40, 50, 70, 0.471);
}

h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 53px;
  font-weight: 400;
  padding: 0;
}

footer,
form {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-top: 15px;
  text-decoration: none;
}

#foot-link {
  text-decoration: none;
  color: rgb(44, 72, 130);
}

#card-large {
  background-color: rgb(210, 210, 210, 0.6);
  border-width: 2px;
  border-color: rgb(40, 50, 70, 0.1);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  transition: all 0.2s ease-in-out;
}

#card2 {
  background-color: rgb(210, 210, 210, 0.6);
  border-width: 2px;
  border-color: rgb(40, 50, 70, 0.1);
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  margin: 2px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

#card2-body {
  margin-top: -4px;
  margin-bottom: -1px;
}

.card3Small {
  background-color: rgb(210, 210, 210, 0.6);
  border-width: 2px;
  border-color: rgb(40, 50, 70, 0.1);
  border-style: solid;
  border-radius: 5px;
  margin: 2px;
  padding: 0;
  height: auto;
  transition: all 0.2s ease-in-out;
}

#card-large:hover,
#card2:hover,
.card3Small:hover {
  background-color: rgba(55, 74, 109, 0.233);
  border-color: rgb(98, 103, 113, 0.4);
  color: rgb(207, 209, 215);
  cursor: crosshair;
}

#c1-city {
  font-family: "Padauk", sans-serif;
  text-align: left;
  font-size: 75px;
  font-weight: 900;
  padding: 20px;
}

#c1-country {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: right;
  font-size: 56px;
  padding: 30px;
}

#c1-day,
#c1-date,
#c1-time {
  font-family: "Padauk", sans-serif;
  line-height: 56px;
  font-size: 36px;
  font-weight: 700;
  padding-left: 30px;
  text-align: center;
}

#c1-day {
  text-align: left;
}

#c1-date {
  text-align: center;
}

#c1-temp,
#c2-temp,
#c2-emoji,
#c2-title1,
#c2-title2 {
  font-family: "Lato", sans-serif;
  padding: 10px;
}

#c1-temp,
#c2-emoji,
#c2-title1,
#c2-title2 {
  margin: 0;
}

#c1-temp,
#c1-emoji,
#c2-temp,
#c2-emoji {
  text-align: center;
}

#c2-temp {
  margin-top: -10px;
  margin-bottom: 10px;
}

#c2-title1 {
  text-align: right;
}

#c2-title2 {
  text-align: left;
}

#c1-temp,
#c1-emoji-wind,
#c1-emoji-weather,
#c2-emoji,
.c2Temp {
  font-size: 49px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
}

#c1-emoji-weather {
  vertical-align: middle;
  position: relative;
  margin-top: -22px;
}

#c2-emoji-weather {
  vertical-align: middle;
  position: relative;
  margin-top: -20px;
  margin-bottom: -20px;
}

#c2-emoji-wind {
  position: relative;
  font-size: 45px;
  text-align: center;
  line-height: 58px;
}

.c3EmojiWind {
  position: relative;
  font-size: 41px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

#c2-emoji-col {
  position: relative;
  margin-left: -10px;
}

#c2-wind-col {
  position: relative;
  margin-left: -28px;
}

#c1-feels,
#c1-descp,
#c1-wind,
#c2-wind,
#c2-descp {
  font-family: "Nunito Sans", sans-serif;
  font-style: italic;
  padding: 0 auto;
  margin: 0;
  text-align: center;
}

#c1-feels,
#c1-descp,
#c1-wind {
  font-size: 20px;
}

#c2-wind,
#c2-descp {
  font-size: 17px;
}

#c2-title1,
#c2-title2 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
}

.c3SunCol {
  margin-left: 0;
}

.c3HighLowCol {
  margin-left: 0;
}

.c3WindWeatherCol {
  margin-left: 0;
}

#search-btn {
  background-color: rgba(55, 74, 109, 0.233);
  color: rgb(40, 50, 70);
  border: none;
}

#inline-btns {
  text-align: center;
}

#set-unit-temp-btn,
#auto-locate-btn {
  display: inline-block;
  border: none;
  background-color: rgba(55, 74, 109, 0.233);
  color: rgb(40, 50, 70);
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 20px auto;
  padding: 10px auto;
  text-align: center;
  text-decoration: none;
}

.c3DateTitle {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.c1HighTop,
.c1LowBttm {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.c1HighTop {
  padding-top: 20px;
}

.c2ListCol {
  padding-top: 38px;
  margin-bottom: 0;
  line-height: 18px;
}

.c2List {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.c3Descp,
.c3Wind {
  text-align: center;
}

.c3List {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.c3EmojiWeather {
  position: relative;
  margin-left: -22px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.c3EmojiWeatherSrc {
  width: 90px;
}

#card3-col-2 {
  width: 21.666667%;
}

.c3Temp {
  font-size: 40px;
  font-weight: 600;
  padding: 0;
  margin-left: -10px;
  margin-top: 33px;
  line-height: 26px;
  align-items: center;
}
